<html>
<head>
<title>Math thingy</title>
<script src="jquery-1.12.4.js"></script>
<script src="angular.js"></script>
<script src="math2.js"></script>
<script src="main.js"></script>
<link rel="stylesheet" href="styles.css">
</head>
<body ng-app="AppNameHere" ng-controller="MainController">
  <p>{{x}}</p>
  <textarea ng-model="input" style="width: 90%; height: 10em;"></textarea><button ng-click="setExprLambda(input)">Set</button>
  <p>{{expr1 | exprToString}}</p>
  <expression expression="expr1" expr-click="onExprClick(expr)"></expression>
</body>
</html>