expression {
    display: inline-block;
    margin: 0.2em;
    padding-right: 0;
}

.expr {
    display: inline-block;
    padding: 0.1em;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
}

.expr.hover {
    background: #ccf;
}

expression span {
    display: inline;
    padding: 0.1em;
    border-radius: 5px;
}

expression span.hover {
    background: #ccf;
}

expression .selected {
    background: #fe9;
}

expression .selected.hover {
    background: #bdbdbd;
}